<h1>Lista de articulos</h1>


<% @articles.each do |article| %>
  <div class="panel panel-default">

    <p>
      <% if current_user.permission?("EDITAR") %>
        <button class="btn"><i class="glyphicon glyphicon-pencil"></i></button>
      <% end %>

      <% if current_user.permission?("ELIMINAR") %>
        <button class="btn"><i class="glyphicon glyphicon-remove"></i></button>
      <% end %>
      Por <%= article.user.email %>
    </p>

    <p>
      <%= article.text %>
    </p>
  </div>
<% end %>
