<h1>Roles existentes en la aplicacion</h1>

<p>Se muestran los roles y los permisos que tiene cada rol.</p>


<div id="role-list"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></div>

<h1>Permisos posibles en la aplicacion</h1>

<div id="permission-list"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></div>


<script>
  listRolesPermissions();
</script>
